root.dir=D:\\Softwares\\Softwares\\Programming\\IDE\\eclipse-jee-juno-win32-x86_64\\workspace\\WikipediaIndexer
dump.filename=WikiDump_1600.xml
#dump.filename=five_entries.xml
tknizer.nthreads=1
tmp.dir=D:\\Softwares\\Softwares\\Programming\\IDE\\eclipse-jee-juno-win32-x86_64\\workspace\\WikipediaIndexer
output.dir=D:\\Softwares\\Softwares\\Programming\\IDE\\eclipse-jee-juno-win32-x86_64\\workspace\\WikipediaIndexer\\output\\
punct.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.PunctuationRule
apos.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.ApostropheRule
hyph.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.HyphenRule
spch.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SpecialCharRule
space.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.WhiteSpaceRule
date.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.DatesRule
accnt.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.AccentRule
stwrds.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.StopWordsRule
captl.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.CapitalizationRule
nmbrs.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.NumberRule
pretkn.rules=DATES,NUMBERS,ACCENTS,SPECIALCHARS,WHITESPACE,DELIM